:root {
    --headerColor: rgba(232, 102, 236, 1);
    --otherText: #fff;
    --borderstyle: dashed;
    --
}

* {
    background-color: rgb(46, 58, 58);
}

header h1 {
    color: var(--headerColor);
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-around;
}

section header {
    color: var(--headerColor);
    border: var(--otherText);
    border-style: solid;
    border-radius: 15%;


}

.smallBox {
border: var(--otherText);
border-style: var(--borderstyle);

}

.bigBox {
border: var(--otherText);
border-style: var(--borderstyle);
}

section p,
footer {
    color: var(--headerColor);
}

header p, 
pre {
    color: var(--otherText)
}