:root {
    --headerColor: rgba(232, 102, 236, 1);
    --otherText: #fff;
    --borderstyle: dashed;
    
}

* {
    background-color: rgb(46, 58, 58);
    box-sizing: border-box;
    
}

header {
    text-align: center;
    margin-bottom: 50px;
    
}


header h1 {
    color: var(--headerColor);
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-around;
    gap: 50px;
    
}

section:hover {
}

section header {
    color: var(--headerColor);
    border: var(--otherText);
    border-style: solid;
    border-radius: 5%;
    font-size: 30px;
    text-align: left;
    width: 75%;
    position: relative;
    margin:auto;
    margin-top: -20px;
    /* bottom: 25px;
    left: 45px;     */
    line-height: 1.5;

}

.Box {
border: var(--otherText);
border-style: var(--borderstyle);
width: 400px;
}

.Box header  {
    border-radius: 8px;
    transition: all 0.5s ease-in-out;
}

.Box:hover,
.Box:hover header  {
    box-shadow: inset 0px 8px 
    rgba(232, 102, 236, 1), 
    0 0 15px rgba(232, 102, 236, 1);
}

section p,
footer {
    color: var(--headerColor);
}

section p {
    margin:auto 10px;
    line-height: 2;
}

header p, 
pre {
    color: var(--otherText)
}

pre {
    margin: 10px;
    background-image: linear-gradient(rgba(232, 102, 236, 0.3), rgba(232, 102, 236, 0.6));
    height: 200px;
    border-radius: 3%;
    padding-top: 10px;
    padding: 20px;
    user-select: all;
}

@media screen and (max-width: 992px) {
    body {
      width: 50%;
    }
  }

  @media screen and (max-width: 768px) {
    body {
      width: 100;
    }
  }

footer {
    text-align: center;
    margin: 20px;
}